.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post_details_container {
    position: relative;
    width: 300px;
}

.trash_icon {
    position: absolute;
    top: 0;
    left: 0;
}